<section class="content" ng-init="q=''">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
					<!-- <div class="input-group pull-right input-group hidden-xs" style="width: 290px;margin-top: -5px;">
						<input ng-model="q" type="text" name="table_search" class="form-control pull-right" placeholder="Ketik nomor pengajuan atau perihal">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</div>
	                </div> -->
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel" class="btn btn-sm pull-right btn-success hidden-xs">Export Excel</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_single" class="btn btn-sm pull-right btn-success hidden-xs">Export Excel Log</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_double" class="btn btn-sm pull-right btn-success hidden-xs">Export Excel History</a>
					<a style="margin-top: -5px;margin-right: 20px;padding: 7px 10px;" href="#/data_perijinan/tambah" class="btn btn-sm pull-right btn-warning">Buat Pengajuan Baru</a>
				</div>
				<div class="box-header"> 
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_double" class="btn btn-sm pull-right btn-success hidden-xs">TERIMA</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel" class="btn btn-sm pull-right btn-success hidden-xs">EKSPOSE</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_single" class="btn btn-sm pull-right btn-success hidden-xs">SURVEI</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_double" class="btn btn-sm pull-right btn-success hidden-xs">RAPAT</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_double" class="btn btn-sm pull-right btn-success hidden-xs">REKOMTEK</a>
					
				</div>
				<div class="box-body" >
					<table datatable="ng" class="table table-striped table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th ng-hide="q" style="text-align: center">#</th>
								<th style="text-align: center">No.Pengajuan</th>
								<th style="text-align: center">Tanggal</th>
								<th ng-show="mysession.level!=='5'">Pemohon</th>
								<th ng-show="mysession.level!=='5'">Organisasi</th>
								<th>Perihal</th>
								<th>No.Surat</th>
								<th style="text-align: center">Status</th>
								<th style="text-align: center">Rekomtek</th>
								<th style="text-align: center">Opsi</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-show="!data_perijinan">
								<td colspan="{{mysession.level==='5' ? '8' : '10'}}" align="center" ng-bind="'Belum ada data untuk ditampilkan'"></td>
							</tr> -->
							<tr ng-show="q.length===''||value.ID.toUpperCase().indexOf(q.toUpperCase())>=0||value.perihal.toUpperCase().indexOf(q.toUpperCase())>=0" ng-repeat="value in data_perijinan">
								<td ng-hide="q" align="center" width="40" ng-bind="$index+1"></td>
								<td align="center" width="106" ng-bind="value.ID"></td>
								<td align="center" width="80" ng-bind="mydate(value.tanggal_data)"></td>
								<td ng-show="mysession.level!=='5'">
									<strong>
										<a class="text-orange" ng-click="userdetail(value.creator)" href="javascript:void(0)" ng-bind="value.nama_lengkap"></a>
									</strong>
								</td>
								<td ng-show="mysession.level!=='5'" ng-bind="value.nama_organisasi"></td>
								<td title="{{value.perihal}}" ng-bind="value.perihal.length <= 40 ? value.perihal : value.perihal.substring(0,40)+'..'"></td>
								<td ng-bind="value.nomor_surat"></td>
								<!-- <td width="90" style="text-align: center" ng-bind="mydate(value.tanggal_surat)"></td> -->
								<td align="left" width="120">
									<span ng-if="value.status==='PENDING'" class="label label-warning">Menunggu Berkas</span>
									<span ng-if="value.status==='PROCESSING'" class="label label-info">Dalam Proses</span>
									<span ng-if="value.status==='ACCEPT'" class="label label-success">Diterima</span>
									<span ng-if="value.status==='REJECT'" class="label label-danger">Ditolak</span>
								</td>
								<td width="140" align="center" ng-bind="value.rekomtek"></td>
								<td align="center" width="140">
									<a href="#/data_perijinan/detail/{{value.ID}}" class="btn btn-default btn-xs" target="_blank">Detail</a>
									<a ng-click="$parent.hapusijin(value.ID)" ng-show="mysession.level==='1'" href="javascript:void(0)" class="btn btn-danger btn-xs">Hapus</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>