<section class="content">
	<form ng-submit="terimapermohonan()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="margin-bottom: 100px;">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="'Formulir Penerimaan Permohonan (Konfirmasi)'"></h3>
				</div>
				<div class="box-body">
					<!-- {{terimapermohonan_context}} -->
					<div class="form-group">
						<label for="ID">Nomor Pengajuan</label>
						<input
							type="text" 
							id="ID"
							class="form-control" 
							ng-disabled="true"
							ng-model="terimapermohonan_context.ID" 
							placeholder="" />
					</div>
					<div class="form-group">
						<div class="row">
						<div class="col-md-6">
							<label for="ID">Nomor Surat</label>
							<input
								type="text" 
								id="ID"
								class="form-control" 
								ng-disabled="true"
								ng-model="terimapermohonan_context.nomor_surat" 
								placeholder="" />
						</div>
						<div class="col-md-6">
							<label for="ID">Tanggal Surat</label>
							<input
								type="text" 
								id="ID"
								class="form-control" 
								ng-disabled="true"
								ng-model="terimapermohonan_context.tanggal_surat" 
								placeholder="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<label for="ID">Perihal</label>
						<input
							type="text" 
							id="ID"
							class="form-control" 
							ng-disabled="true"
							ng-model="terimapermohonan_context.perihal" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="rekomtek">Nomor Rekomtek</label>
						<input
							type="text" 
							id="rekomtek"
							class="form-control" 
							ng-required="true"
							ng-model="FormData.rekomtek" 
							placeholder="" />
					</div>
					<div class="form-group" style="margin-bottom: 45px;">
						<label for="tanggal">Tanggal</label>
						<datepicker
						date-format="dd/MM/yyyy">
						<input
							type="text" 
							id="tanggal"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							onkeyup="return false"
							onkeypress="return false"
							onkeydown="return false"
							ng-model="FormData.tanggal" 
							placeholder="" />
						</datepicker>
					</div>
					<div class="form-group">
						<label for="remark">Keterangan</label>
						<textarea
							type="text" 
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.remark" 
							placeholder=""
							rows="4"
							row="4" />
					</div>
					<div class="form-group">
						<label for="model">Upload File</label>
						<img width="100%" ng-show="filename" ng-src="{{filename}}" />
						<center><strong ng-show="filename" class="text-orange" ng-bind="real_name"></strong></center>
						<div ngf-drop="uploadFiles($files)" 
							 ng-hide="filename"
							 class="drop-box"
							 ngf-select="uploadFiles($files)"
						  	 ngf-drag-over-class="'dragover'" 
						  	 ngf-multiple="false" 
						  	 ngf-pattern="'image/*,application/pdf'" 
						  	 style="background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
						  	 Klik atau drop file disini.<br/>Opsional
						</div>
					</div>
					<!-- 
					<div class="form-group">
						<label for="remark_berkas">Keterangan</label>
						<textarea
							id="remark_berkas"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.remark_berkas" 
							rows="3"
							placeholder=""></textarea>
					</div> -->
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="#/data_perijinan/detail/{{route[2]}}" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>