<section class="content">
	<form ng-submit="submitstatus()">
	<div class="row">
		<div class="col-md-5" style="margin-bottom: 100px;">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="'Update Status Perijinan'"></h3>
				</div>
				<div class="box-body">
					<!-- {{updatestatus_context}} -->
					<div class="form-group">
						<label for="ID">Nomor Pengajuan</label>
						<input
							type="text" 
							id="ID"
							class="form-control" 
							ng-disabled="true"
							ng-model="updatestatus_context.ID" 
							placeholder="" />
					</div>
					<div class="form-group">
						<div class="row">
						<div class="col-md-6">
							<label for="ID">Nomor Surat</label>
							<input
								type="text" 
								id="ID"
								class="form-control" 
								ng-disabled="true"
								ng-model="updatestatus_context.nomor_surat" 
								placeholder="" />
						</div>
						<div class="col-md-6">
							<label for="ID">Tanggal Surat</label>
							<input
								type="text" 
								id="ID"
								class="form-control" 
								ng-disabled="true"
								ng-model="updatestatus_context.tanggal_surat" 
								placeholder="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<label for="ID">Perihal</label>
						<input
							type="text" 
							id="ID"
							class="form-control" 
							ng-disabled="true"
							ng-model="updatestatus_context.perihal" 
							placeholder="" />
					</div>
					<div class="form-group" style="margin-bottom: 45px;">
						<label for="tanggal">Tanggal</label>
						<datepicker
						date-format="dd/MM/yyyy">
						<input
							type="text" 
							id="tanggal"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							onkeyup="return false"
							onkeypress="return false"
							onkeydown="return false"
							ng-model="FormData.tanggal" 
							placeholder="" />
						</datepicker>
					</div>
					<div class="form-group">
						<label for="remark">Status</label>
						<textarea
							id="remark"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.remark" 
							placeholder=""
							row="4"
							rows="4" />
					</div>
					<div class="form-group">
						<label for="model">Upload File</label>
						<img width="40%" ng-show="filename" ng-src="{{filename}}" />
						<center><strong ng-show="filename" class="text-orange" ng-bind="real_name"></strong></center>
						<div ngf-drop="uploadFiles($files)" 
							 ng-hide="filename"
							 class="drop-box"
							 ngf-select="uploadFiles($files)"
						  	 ngf-drag-over-class="'dragover'" 
						  	 ngf-multiple="false" 
						  	 ngf-pattern="'image/*,application/pdf'" 
						  	 style="background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
						  	 Klik atau drop file disini.<br/>Opsional
						</div>
					</div>
					<!-- 
					<div class="form-group">
						<label for="remark_berkas">Keterangan</label>
						<textarea
							id="remark_berkas"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.remark_berkas" 
							rows="3"
							placeholder=""></textarea>
					</div> -->
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="#/data_perijinan/detail/{{route[2]}}" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title" ng-bind="'Status History'"></h3>
				</div>
				<div class="box-body">
					<table class="table table-condensed table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th style="text-align: center;">#</th>
								<th style="text-align: center;">Tanggal</th>
								<th>Keterangan</th>
								<th>Author</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="track in updatestatus_context_tracking">
								<td align="center" width="40" ng-bind="$index+1"></td>
								<td width="128" align="center" ng-bind="mydatetime(track.created_time)"></td>
								<td ng-bind-html="toHtml(track.remark)"></td>
								<td ng-bind="track.nama_lengkap"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>