<section class="content">
	<form ng-submit="submitstatussurvei()">
	<div class="row">
		<div class="col-md-7" style="margin-bottom: 100px;">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="'Update Status Perijinan'"></h3>
				</div>
				<table class="table table-hover table-striped table-condensed table-bordered">
					<tbody>
						<tr>
							<td style="vertical-align: middle;">ID Pengajuan</td>
							<td valign="middle" align="right"><h4 style="font-weight: bolder;" class="text-orange" ng-bind="data.detail.ID"></h4></td>
						</tr>
						<tr>
							<td>Status</td>
							<td align="right">
								<span ng-if="data.detail.status==='PENDING'" class="label label-warning">Menunggu Berkas / Hardcopy</span>
								<span ng-if="data.detail.status==='PROCESSING'" class="label label-info">Dalam Proses</span>
								<span ng-if="data.detail.status==='ACCEPT'" class="label label-success">Diterima</span>
								<span ng-if="data.detail.status==='REJECT'" class="label label-danger">Ditolak</span>
							</td>
						</tr>
						<tr>
							<td>Tanggal Pengajuan</td>
							<td align="right"><strong ng-bind="mydate(data.detail.tanggal_data)"></strong></td>
						</tr>
						<tr>
							<td>Jam Pengajuan</td>
							<td align="right"><strong ng-bind="mytime(data.detail.created_time)"></strong></td>
						</tr>
						<tr>
							<td>Nomor Surat</td>
							<td align="right"><strong ng-bind="data.detail.nomor_surat"></strong></td>
						</tr>
						<tr>
							<td>Tanggal Surat</td>
							<td align="right"><strong ng-bind="mydate(data.detail.tanggal_surat)"></strong></td>
						</tr>
						<tr>
							<td>Contact Person</td>
							<td align="right"><strong ng-bind="data.detail.contact_person"></strong></td>
						</tr>
						<tr>
							<td>No. Telp</td>
							<td align="right"><strong ng-bind="data.detail.telp"></strong></td>
						</tr>
						<tr>
							<td>Jenis Permohonan</td>
							<td align="right"><strong ng-bind="tipe_perijinan[data.detail.jenis_permohonan]"></strong></td>
						</tr>
						<tr>
							<td>Ruas Jalan</td>
							<td align="right"><strong ng-bind="data.detail.nama_ruas_jalan"></strong></td>
						</tr>
						<tr>
							<td>Provinsi</td>
							<td align="right"><strong ng-bind="data.detail.nama_provinsi"></strong></td>
						</tr>
					</tbody>
				</table>
				
				<div class="box-body">
					<!-- {{updatestatus_context}} -->
					<div class="form-group">
						<div class="row">
						<div class="col-md-6">
						<input
							type="hidden" 
							id="ID"
							class="form-control" 
							ng-disabled="true"
							ng-model="updatestatus_context.ID" 
							placeholder="" />
					
						</div>
						<div class="col-md-6">
							<input
								type="hidden" 
								id="ID"
								class="form-control" 
								ng-disabled="true"
								ng-model="updatestatus_context.nomor_surat" 
								placeholder="" />
						</div>
						<div class="col-md-6">
							<input
								type="hidden" 
								id="ID"
								class="form-control" 
								ng-disabled="true"
								ng-model="updatestatus_context.tanggal_surat" 
								placeholder="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<input
							type="hidden" 
							id="ID"
							class="form-control" 
							ng-disabled="true"
							ng-model="updatestatus_context.perihal" 
							placeholder="" />
					</div>
					<div class="form-group" style="margin-bottom: 45px;">
						<label for="tanggal">Tanggal</label>
						<datepicker
						date-format="dd/MM/yyyy">
						<input
							type="text" 
							id="tanggal"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							onkeyup="return false"
							onkeypress="return false"
							onkeydown="return false"
							ng-model="FormData.tanggal" 
							placeholder="" />
						</datepicker>
					</div>

					<div class="form-group">
						<label for="remark">Status</label>
						<textarea
							id="remark"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.remark" 
							placeholder=""
							row="4"
							rows="4" />
					</div>
					<div class="form-group">
						<label for="model">Upload File</label>
						<img width="80%" ng-show="filename" ng-src="{{filename}}" />
						<center><strong ng-show="filename" class="text-orange" ng-bind="real_name"></strong></center>
						<div ngf-drop="uploadFiles($files)" 
							 ng-hide="filename"
							 class="drop-box"
							 ngf-select="uploadFiles($files)"
						  	 ngf-drag-over-class="'dragover'" 
						  	 ngf-multiple="false" 
						  	 ngf-pattern="'image/*,application/pdf'" 
						  	 style="background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
						  	 Klik atau drop file disini.<br/>Opsional
						</div>
					</div>
					<!-- 
					<div class="form-group">
						<label for="remark_berkas">Keterangan</label>
						<textarea
							id="remark_berkas"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.remark_berkas" 
							rows="3"
							placeholder=""></textarea>
					</div> -->
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="#/data_perijinan/detail/{{route[2]}}" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
			<div class="col-md-5" ng-init="tab_title='Lampiran Permohonan'">
			<div class="box box-{{tab_title==='Lampiran Permohonan' ? 'primary' : 'danger'}}">
				<div class="box-header">
					<div class="btn-group pull-right" style="margin-top: -5px;">
						<button ng-click="tab_title='Lampiran Permohonan'" type="button" class="btn btn-{{tab_title==='Lampiran Permohonan' ? 'success' : 'default'}} btn-sm"><i class="fa fa-paperclip"></i> Lampiran</button>
						<button ng-click="tab_title='Lacak Status Permohonan'" type="button" class="btn btn-{{tab_title!=='Lampiran Permohonan' ? 'success' : 'default'}} btn-sm"><i class="fa fa-clock-o"></i> Lacak Status</button>
					</div>
					<h3 class="box-title" ng-bind="tab_title"></h3>
				</div>
				<div class="box-body">
					<div ng-show="tab_title==='Lampiran Permohonan'">
						<p class="text-orange">Klik pada gambar untuk memperbesar</p>
						<div class="row grid" style="margin-top: -13px;">
							<div style="padding: 15px;" class="col-sm-5 thumbs" ng-repeat="attach in data.detail.attachments">
								<a target="_blank" href="{{'attachments/'+data.detail.ID+'/'+attach.name}}">
									<img style="height:140px; width: 140px;" ng-src="{{attach.name.toLowerCase().indexOf('.pdf') > 0 ? 'assets/pdf-flat.png' : 'attachments/'+data.detail.ID+'/'+attach.name}}" />
									<span style="display: block;margin-top: 5px;font-weight: bold;text-align: center;" class="text-orange" ng-bind="attach.description"></span><br/><span style="display: block;margin-top: -20px;font-weight: bold;text-align: center;" class="text-orange" ng-bind="attach.ket"></span><br/>
								</a>
							</div>
						</div>
					</div>
					<div ng-hide="tab_title==='Lampiran Permohonan'">
						
						<ul class="timeline" ng-repeat="track in data.tracking">
							<li class="time-label">
						        <span class="bg-orange" ng-bind="mydate2(track.tanggal)"></span>
						    </li>
						    <li>
						        <i ng-if="track.wrstatus==='EKSPOSE'&&track.stp==='1'&&track.dur < track.tgl" class="fa bg-{{ track.warna }}">
						        	<strong ng-bind="$index+1"></strong></i>
						        <i ng-if="track.wrstatus==='SURVEI'&&track.stp==='1'&&track.dur < track.tgl" class="fa bg-{{ track.warna }}">
						        	<strong ng-bind="$index+1"></strong></i>
						        <i ng-if="track.wrstatus==='RAPAT'&&track.stp==='1'&&track.dur < track.tgl" class="fa bg-{{ track.warna }}">
						        	<strong ng-bind="$index+1"></strong></i>
						        <i ng-if="track.wrstatus==='PERSETUJUAN'&&track.stp==='1'&&track.dur < track.tgl" class="fa bg-{{ track.warna }}">
						        	<strong ng-bind="$index+1"></strong></i>
						       
						        <i ng-if="track.wrstatus==='REKOMTEK'&&track.stp==='1'&&track.dur < track.tgl" class="fa bg-{{ track.warna }}">
						        	<strong ng-bind="$index+1"></strong></i>
						        <i ng-if="track.stp==='0'" class="fa bg-blue">
						        	<strong ng-bind="$index+1"></strong></i>
						        <i ng-if="track.stp==='1'&&track.dur > track.tgl" class="fa bg-blue">
						        	<strong ng-bind="$index+1"></strong></i>
						        <div class="timeline-item">
						        	<span class="time" class="text-orange"><i class="fa fa-clock-o text-orange"></i> <span class="text-orange" ng-bind="mytime(track.created_time)"></span></span>
						            <span class="time" class="text-orange">Upload pada <i class="fa fa-clock-o text-orange"></i> <span class="text-orange" ng-bind="mydate2(track.created_time)"></span></span>
						            <h3 class="timeline-header"><a ng-click="userdetail(track.creator)" href="javascript:void(0)" class="text-blue" ng-bind="track.nama_lengkap"></a> </h3>
						            <div class="timeline-body">
						            	<div ng-if="track.stp==='1'&&track.dur<track.tgl" style="font-weight: bold;">LEWAT <strong ng-bind="track.tgl"></strong>  HARI, PROSES KE TAHAP BERIKUTNYA SETELAH</div>
						            	<div style="font-weight: bold;" ng-bind ="track.wrstatus"></div>
						            	<div ng-bind-html="toHtml(track.remark)"></div>
						            	<a ng-show="track.attachment" target="_blank" href="{{'attachments/'+track.id_perijinan+'/'+track.attachment}}">
							            	<img style="margin-top: 5px;" ng-show="track.attachment.length>5&&track.attachment.indexOf('pdf')<0" width="60" ng-src="{{'attachments/'+track.id_perijinan+'/'+track.attachment}}" />
							            	<img style="margin-top: 5px;" ng-show="track.attachment.length>5&&track.attachment.indexOf('pdf')>=0" width="60" ng-src="{{'assets/pdf-flat.png'}}" />
						            	</a>
						            </div>
						        </div>
						    </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>