<section class="content" ng-init="q=''">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
					<!-- <div class="input-group pull-right input-group hidden-xs" style="width: 290px;margin-top: -5px;">
						<input ng-model="q" type="text" name="table_search" class="form-control pull-right" placeholder="Ketik nomor pengajuan atau perihal">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</div>
	                </div> -->
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel" class="btn btn-sm pull-right btn-success hidden-xs">Export Excel</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_single" class="btn btn-sm pull-right btn-success hidden-xs">Export Excel Log</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="index.php/perijinan/export_excel_double" class="btn btn-sm pull-right btn-success hidden-xs">Export Excel History</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="javascript;" class="btn btn-sm pull-right btn-success hidden-xs" data-toggle="modal" data-target="#modal-default">Export Excel Berdasarkan Dokumen</a>
					<a style="margin-top: -5px;margin-right: 20px;padding: 7px 10px;" href="#/data_perijinan/tambah" class="btn btn-sm pull-right btn-warning">Buat Pengajuan Baru</a>
					<a style="margin-top: -5px;margin-right: 20px;padding: 7px 10px;" data-toggle="modal" data-target="#modal-import" href="javascript;" class="btn btn-success hidden-xs">Import Data Csv</a>
				</div>
				<div class="box-title" style="margin-right: 10px;" ng-repeat="data in inout"> 

					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" class="btn btn-sm pull-right btn-success hidden-xs" ng-click="get_detailp(data.apv_status)" href="javascript:void(0)" ng-model="FormData.apv_status" ng-show="data.apv_status==='TERIMA'">TERIMA</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" class="btn btn-sm pull-right btn-success hidden-xs" ng-click="get_detailp(data.apv_status)" href="javascript:void(0)" ng-model="FormData.apv_status" ng-show="data.apv_status==='EKSPOSE'">EKSPOSE</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" class="btn btn-sm pull-right btn-success hidden-xs" ng-click="get_detailp(data.apv_status)" href="javascript:void(0)" ng-model="FormData.apv_status" ng-show="data.apv_status==='SURVEI'">SURVEI</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" class="btn btn-sm pull-right btn-success hidden-xs" ng-click="get_detailp(data.apv_status)" href="javascript:void(0)" ng-model="FormData.apv_status" ng-show="data.apv_status==='RAPAT'">RAPAT</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" class="btn btn-sm pull-right btn-success hidden-xs" ng-click="get_detailp(data.apv_status)" href="javascript:void(0)" ng-model="FormData.apv_status" ng-show="data.apv_status==='REKOMTEK'">REKOMTEK</a>
					
				</div>
				<br/>
				<div class="box-body" style="margin-top: 30px;">
					<table datatable="ng"  class="table table-striped table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th ng-hide="q" style="text-align: center">#</th>
								<th style="text-align: center">No.Pengajuan</th>
								<th style="text-align: center">Tanggal</th>
								<th ng-show="mysession.level!=='5'">Pemohon</th>
								<th ng-show="mysession.level!=='5'">Organisasi</th>
								<th>Perihal</th>
								<th>No.Surat</th>
								<th style="text-align: center">Status</th>
								<th style="text-align: center">Rekomtek</th>
								<th style="text-align: center">Opsi</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-show="!data_perijinan">
								<td colspan="{{mysession.level==='5' ? '8' : '10'}}" align="center" ng-bind="'Belum ada data untuk ditampilkan'"></td>
							</tr> -->
							<tr ng-show="q.length===''||value.ID.toUpperCase().indexOf(q.toUpperCase())>=0||value.perihal.toUpperCase().indexOf(q.toUpperCase())>=0" ng-repeat="value in data_perijinan">
								<td ng-hide="q" align="center" width="40" ng-bind="$index+1"></td>
								<td align="center" width="106" ng-bind="value.ID"></td>
								<td align="center" width="80" ng-bind="mydate(value.tanggal_data)"></td>
								<td ng-show="mysession.level!=='5'">
									<strong>
										<a class="text-orange" ng-click="userdetail(value.creator)" href="javascript:void(0)" ng-bind="value.nama_lengkap"></a>
									</strong>
								</td>
								<td ng-show="mysession.level!=='5'" ng-bind="value.nama_organisasi"></td>
								<td title="{{value.perihal}}" ng-bind="value.perihal.length <= 40 ? value.perihal : value.perihal.substring(0,40)+'..'"></td>
								<td ng-bind="value.nomor_surat"></td>
								<!-- <td width="90" style="text-align: center" ng-bind="mydate(value.tanggal_surat)"></td> -->
								<td align="left" width="120">
									<span ng-if="value.status==='PENDING'" class="label label-warning">Menunggu Berkas</span>
									<span ng-if="value.status==='PROCESSING'" class="label label-info">Dalam Proses</span>
									<span ng-if="value.status==='ACCEPT'" class="label label-success">Diterima</span>
									<span ng-if="value.status==='REJECT'" class="label label-danger">Ditolak</span>
								</td>
								<td width="140" align="center" ng-bind="value.rekomtek"></td>
								<td align="center" width="140">
									<a href="#/data_perijinan/detail/{{value.ID}}" class="btn btn-default btn-xs" target="_blank">Detail</a>
									<a ng-click="$parent.hapusijin(value.ID)" ng-show="mysession.level==='1'" href="javascript:void(0)" class="btn btn-danger btn-xs">Hapus</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
            <form ng-submit="submitlaporan()">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ekspor Laporan Berdasarkan Dokumen</h4>
              </div>
              <div class="modal-body">
              	<label>Pilih jenis dokumen :</label> 
              	<select class="form-control" name="vali" ng-model="FormData.apv_status">
              		<option value="TERIMA">TERIMA</option>
              		<option value="EKSPOSE">EKSPOSE</option>
              		<option value="SURVEI">SURVEI</option>
              		<option value="RAPAT">RAPAT</option>
              		<option value="PERSETUJUAN">PERSETUJUAN</option>
              		<option value="REKOMTEK">REKOMTEK</option>
              	</select>
              	
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-import">
          <div class="modal-dialog">
            <div class="modal-content">
            <form ng-submit="submitlaporan()">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ekspor Laporan Berdasarkan Dokumen</h4>
              </div>
              <div class="modal-body">
              	<div class="wrpTable">
						<div >
							<h4 class="text-orange"><i class="fa fa-paperclip"></i> Lampiran Permohonan</h4>
							<div class="form-group">
								<label for="model">Import Data File CSV</label>
								<progress ng-show="onUpload" value="{{progressPercentage}}" max="100">
							</div>
							
							<div ng-show="files_success.name.length == 0" 
								 ngf-drop="uploadFiles($files)" 
								 class="drop-box"
								 ngf-select="uploadFiles($files)"
							  	 ngf-drag-over-class="'dragover'" ngf-multiple="true" 
							  	 ngf-pattern="'application/csv*,application/pdf'" style="margin-top: -15px;background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
							  	 Klik atau drop file disini.<br/>Upload satu atau beberapa file sekaligus.
							</div>
							<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
							
							<div ng-show="files_success.name.length == 0" class="callout callout-info" style="margin-top: 10px;">
				                <h4>Info</h4>

				                <p>
				                	Anda hanya diijinkan mengupload file CSV saja dengan ukuran maksimum setiap file 20 MB.
				                </p>
				            </div>
							<ul class="list-group" style="margin: -15px 0px 5px 0px;">
								<li style="{{key%2!=0 ? 'background: #f6f6f6;' : ''}}" ng-show="value&&value.length>0&&files_success.size[key]>0" class="list-group-item" ng-repeat="(key, value) in files_success.name">
								<table width="100%">
									<tr>
										<td width="84">
											<!-- <img ng-show="files_success.type[key][0]==='image'" width="84" class="pull-left" ng-src="tmps/{{mysession.ID}}/{{value}}" /> -->
											<img ng-if="files_success.type[key][1]==='csv'" width="84" class="pull-left" ng-src="assets/pdf-flat.png" />
										</td>
										<td style="padding-left: 20px;" valign="top">
											<!-- <span class="badge" ng-bind="(files_success.size[key]/1000 | number:0) + ' KB'"></span> -->
											<button ng-click="$parent.delattach(key)" style="margin: -2px 5px -2px -5px;" type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash"></i> Hapus</button>
											<span ng-bind="value"></span>
											
										</td>
									</tr>
								</table>
								</li>
							</ul>
							<a ngf-select="uploadFiles($files)" ngf-multiple="true" ng-hide="files_success.name.length >= 0" href="javascript:void(0)" class="btn btn-default"><i class="fa fa-upload"></i> Upload File Lainnya</a>
						</div>
						</div>
              	
                <p>One fine body&hellip;</p>

              </div>
              <div class="modal-footer">
              	<div class="box-footer" ng-show="files_success.name.length<6">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button class="btn btn-default" data-dismiss="modal">Batal</button>
				</div>
               <!--  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button> -->
              </div>
          </form>
            </div>
          </div>
        </div>
        <!-- /.modal -->
</section>