<style type="text/css">
	.timeline {
		padding: 0px 0px 20px 0px;
		margin-bottom: -15px !important;
	}
	.timeline:last-child {
		padding-bottom: 0px !important;
	}
</style>
<section class="content" ng-init="edit_perijinan=false;">
	<div class="row" ng-show="edit_perijinan">
		<div class="col-md-8 col-md-offset-3">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="'Edit Perijinan'"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="nomor_surat">Nomor Surat</label>
						<input
							type="text" 
							id="nomor_surat"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.nomor_surat" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="contact_person">Contact Person</label>
						<input
							type="text" 
							id="contact_person"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.contact_person" 
							placeholder="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="edit_perijinan">
		<div class="col-md-7">
			<div class="box box-warning">
				<div class="box-header">
					<div class="btn-group pull-right" ng-show="mysession.level!=='5'&&(data.detail.status==='PROCESSING'||data.detail.status==='PENDING')">
					  	<button style="margin-top: -5px;margin-left: 3px;" type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    	<i class="fa fa-gear"></i> Tindakan <span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
						    <li ng-show="mysession.level!=='5'&&data.detail.status==='PENDING'"><a ng-click="terimaberkas(data)" href="javascript:void(0)" class="text-blue"><i class="fa fa-file-o"></i> Terima Berkas</a></li>
						    <li ng-show="data.detail.status==='PROCESSING'"><a ng-click="updatestatus(data)" href="javascript:void(0)" class="text-blue"><i class="fa fa-clock-o"></i> Update Status</a></li>
						    <li ng-show="data.detail.status==='PROCESSING'"><a ng-click="terimapermohonan(data)" href="javascript:void(0)" class="text-green"><i class="fa fa-check"></i>Penerbitan Rekomtek</a></li>
						    <li ng-show="data.detail.status==='PENDING'||data.detail.status==='PROCESSING'"><a ng-click="tolakpermohonan(data)" href="javascript:void(0)" href="#" class="text-red"><i class="fa fa-ban"></i> Tolak Permohonan</a></li>
					  	</ul>
					</div>
					<button ng-show="mysession.level==='5'" style="margin-top: -5px;margin-left: 3px;" type="button" class="btn btn-default btn-sm pull-right" ng-hide="data.detail.status==='PENDING'" ng-click="doprint()"><i class="fa fa-print"></i> Cetak Tanda Terima</button>
					<a style="margin-top: -5px;" href="#/data_perijinan" class="btn btn-danger btn-sm pull-right"><i class="fa fa-arrow-left"></i> Kembali</a>
					<a style="margin-top: -5px;margin-right: 5px;" ng-click="edit_perijinan=true;" href="javascript:void(0)" class="btn btn-warning btn-sm pull-right"><i class="fa fa-pencil"></i> Edit</a>
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
				<table class="table table-hover table-striped table-condensed table-bordered">
					<tbody>
						<tr>
							<td style="vertical-align: middle;">ID Pengajuan</td>
							<td valign="middle" align="right"><h4 style="font-weight: bolder;" class="text-orange" ng-bind="data.detail.ID"></h4></td>
						</tr>
						<tr>
							<td>Status</td>
							<td align="right">
								<span ng-if="data.detail.status==='PENDING'" class="label label-warning">Menunggu Berkas / Hardcopy</span>
								<span ng-if="data.detail.status==='PROCESSING'" class="label label-info">Dalam Proses</span>
								<span ng-if="data.detail.status==='ACCEPT'" class="label label-success">Diterima</span>
								<span ng-if="data.detail.status==='REJECT'" class="label label-danger">Ditolak</span>
							</td>
						</tr>
						<tr>
							<td>Tanggal Pengajuan</td>
							<td align="right"><strong ng-bind="mydate(data.detail.tanggal_data)"></strong></td>
						</tr>
						<tr>
							<td>Jam Pengajuan</td>
							<td align="right"><strong ng-bind="mytime(data.detail.created_time)"></strong></td>
						</tr>
						<tr>
							<td>Nomor Surat</td>
							<td align="right"><strong ng-bind="data.detail.nomor_surat"></strong></td>
						</tr>
						<tr>
							<td>Tanggal Surat</td>
							<td align="right"><strong ng-bind="mydate(data.detail.tanggal_surat)"></strong></td>
						</tr>
						<tr>
							<td>Contact Person</td>
							<td align="right"><strong ng-bind="data.detail.contact_person"></strong></td>
						</tr>
						<tr>
							<td>No. Telp</td>
							<td align="right"><strong ng-bind="data.detail.telp"></strong></td>
						</tr>
						<tr>
							<td>Jenis Permohonan</td>
							<td align="right"><strong ng-bind="tipe_perijinan[data.detail.jenis_permohonan]"></strong></td>
						</tr>
						<tr>
							<td>Ruas Jalan</td>
							<td align="right"><strong ng-bind="data.detail.nama_ruas_jalan"></strong></td>
						</tr>
						<tr>
							<td>Provinsi</td>
							<td align="right"><strong ng-bind="data.detail.nama_provinsi"></strong></td>
						</tr>
					</tbody>
				</table>
				<br/>
				<div>
					<h4 class="text-orange">Perihal</h4>
					<p ng-bind="data.detail.perihal"></p>
				</div>
				<div>
					<h4 class="text-orange">Keterangan</h4>
					<p ng-bind="data.detail.keterangan"></p>
				</div>
					<!-- {{data}} -->
				</div>
				<div class="box-footer">
					<a href="#/data_perijinan" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Kembali</a>
					<button type="submit" class="btn btn-default" ng-hide="data.detail.status==='PENDING'" ng-click="doprint()"><i class="fa fa-print"></i> Cetak Tanda Terima</button>
				</div>
			</div>
		</div>
		<div class="col-md-5" ng-init="tab_title='Lampiran Permohonan'">
			<div class="box box-{{tab_title==='Lampiran Permohonan' ? 'primary' : 'danger'}}">
				<div class="box-header">
					<div class="btn-group pull-right" style="margin-top: -5px;">
						<button ng-click="tab_title='Lampiran Permohonan'" type="button" class="btn btn-{{tab_title==='Lampiran Permohonan' ? 'success' : 'default'}} btn-sm"><i class="fa fa-paperclip"></i> Lampiran</button>
						<button ng-click="tab_title='Lacak Status Permohonan'" type="button" class="btn btn-{{tab_title!=='Lampiran Permohonan' ? 'success' : 'default'}} btn-sm"><i class="fa fa-clock-o"></i> Lacak Status</button>
					</div>
					<h3 class="box-title" ng-bind="tab_title"></h3>
				</div>
				<div class="box-body">
					<div ng-show="tab_title==='Lampiran Permohonan'">
						<p class="text-orange">Klik pada gambar untuk memperbesar</p>
						<div class="row grid" style="margin-top: -13px;">
							<div style="padding: 15px;height: 300px;width:300px;" class="col-sm-5 thumbs" ng-repeat="attach in data.detail.attachments">
								<a target="_blank" href="{{'attachments/'+data.detail.ID+'/'+attach.name}}">
									<img ng-src="{{attach.name.toLowerCase().indexOf('.pdf') > 0 ? 'assets/pdf-flat.png' : 'attachments/'+data.detail.ID+'/'+attach.name}}" />
									<span style="display: block;margin-top: -20px;font-weight: bold;text-align: center;" class="text-orange" ng-bind="attach.description" ></span><br/>
								</a>
							</div>
						</div>
					</div>
					<div ng-hide="tab_title==='Lampiran Permohonan'">
						
						<ul class="timeline" ng-repeat="track in data.tracking">
							<li class="time-label">
						        <span class="bg-orange" ng-bind="mydate2(track.created_time)"></span>
						    </li>
						    <li>
						        <i class="fa bg-blue"><strong ng-bind="$index+1"></strong></i>
						        <div class="timeline-item">
						            <span class="time" class="text-orange"><i class="fa fa-clock-o text-orange"></i> <span class="text-orange" ng-bind="mytime(track.created_time)"></span></span>
						            <h3 class="timeline-header"><a ng-click="userdetail(track.creator)" href="javascript:void(0)" class="text-blue" ng-bind="track.nama_lengkap"></a> </h3>
						            <div class="timeline-body">
						            	<div ng-bind-html="toHtml(track.remark)"></div>
						            	<a ng-show="track.attachment" target="_blank" href="{{'attachments/'+track.id_perijinan+'/'+track.attachment}}">
							            	<img style="margin-top: 5px;" ng-show="track.attachment.length>5&&track.attachment.indexOf('pdf')<0" width="260" ng-src="{{'attachments/'+track.id_perijinan+'/'+track.attachment}}" />
							            	<img style="margin-top: 5px;" ng-show="track.attachment.length>5&&track.attachment.indexOf('pdf')>=0" width="260" ng-src="{{'assets/pdf-flat.png'}}" />
						            	</a>
						            </div>
						        </div>
						    </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>