<section class="content">
	<div class="row">
		<div class="col-md-12">
			<h3 style="margin: 0px 0px 20px 0px;">Dashboard</h3>
		</div>
		 <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="fa fa-files-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">PROVINSI</span>
                <span class="info-box-number" ng-bind="report.summary.provinsi"></span>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="fa fa-files-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">KABUPATEN</span>
                <span class="info-box-number" ng-bind="report.summary.kabupaten"></span>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="fa fa-files-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">KECAMATAN</span>
                <span class="info-box-number" ng-bind="report.summary.kecamatan"></span>
            </div>
          </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="fa fa-files-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">DESA</span>
                <span class="info-box-number" ng-bind="report.summary.desa"></span>
            </div>
          </div>
    </div>
		<!--<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-clock-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Dalam Proses</span>
              <span class="info-box-number" ng-bind="report.summary.PROCESSING"></span>
            </div>
          </div>
    </div>
		<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Diterima</span>
              <span class="info-box-number" ng-bind="report.summary.ACCEPT"></span>
            </div>
          </div>
    </div>
		<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-ban"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Ditolak</span>
              <span class="info-box-number" ng-bind="report.summary.REJECT"></span>
            </div>
          </div>
    </div>
    <div class="col-md-12" style="margin-top: 20px;">
            <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Grafik Pengajuan Perijinan BBPJN VI</h3>
            </div>
            <div class="box-body">
                <canvas id="bar" 
                    class="chart chart-bar"
                    chart-data="report.chart.data" 
                    height="90" 
                    chart-colors="colors"
                    chart-series="series"
                    chart-labels="report.chart.months">
                </canvas>
            </div>
            </div>
    </div>
    <div class="col-md-12" style="margin-top: 20px;">
            <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Grafik Perijinan BBPJN VI Berdasarkan Provinsi</h3>
            </div>
            <div class="box-body">
                <canvas id="bar" 
                    class="chart chart-bar"
                    chart-data="report.provinsi.data" 
                    height="90" 
                    chart-colors="colors"
                    chart-series="report.provinsi.series"
                    chart-labels="report.provinsi.labels">
                </canvas>
            </div>
            </div>
    </div> -->
	</div>
    <!-- {{report}} -->
</section>