<section class="content" ng-init="q=''">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="javascript;" data-targer="#modal-import-ppk" data-toggle="modal" class="btn btn-sm pull-right btn-success hidden-xs">Import Data PPK</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="javascript;" modal-toggle="modal" data-target="#modal-import-perijinan" class="btn btn-sm pull-right btn-success hidden-xs">Import Data Perijinan</a>
					<a style="margin-top: -5px;padding: 7px 10px;margin-right: 10px;" href="javascript;" data-toggle="modal" data-target="#modal-import-tracking" class="btn btn-sm pull-right btn-success hidden-xs">Import Data Tracking Perijinan</a>
					<a style="margin-top: -5px;margin-right: 20px;padding: 7px 10px;" data-toggle="modal" data-target="#modal-import" href="javascript;" class="btn btn-success hidden-xs">Import Data Csv</a>
				</div>
				
				<br/>
				<div class="box-body" style="margin-top: 30px;">
					
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
            <form ng-submit="submitlaporan()">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ekspor Laporan Berdasarkan Dokumen</h4>
              </div>
              <div class="modal-body">
              	<label>Pilih jenis dokumen :</label> 
              	<select class="form-control" name="vali" ng-model="FormData.apv_status">
              		<option value="TERIMA">TERIMA</option>
              		<option value="EKSPOSE">EKSPOSE</option>
              		<option value="SURVEI">SURVEI</option>
              		<option value="RAPAT">RAPAT</option>
              		<option value="PERSETUJUAN">PERSETUJUAN</option>
              		<option value="REKOMTEK">REKOMTEK</option>
              	</select>
              	
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal-import-ppk">
          <div class="modal-dialog">
            <div class="modal-content">
            <form ng-submit="submitimport()">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ekspor/Import Dokumen PPK</h4>
              </div>
              <div class="modal-body">
              	<div class="wrpTable">
						<div >
							<h4 class="text-orange"><i class="fa fa-paperclip"></i> File Import</h4>
							<div class="form-group">
								<label for="model">Import Data File CSV</label>
								<progress ng-show="onUpload" value="{{progressPercentage}}" max="100">
							</div>
							
							<div ng-show="files_success.name.length == 0" 
								 ngf-drop="uploadFiles($files)" 
								 class="drop-box"
								 ngf-select="uploadFiles($files)"
							  	 ngf-drag-over-class="'dragover'" ngf-multiple="true" 
							  	 ngf-pattern="'application/csv*,application/pdf'" style="margin-top: -15px;background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
							  	 Klik atau drop file disini.<br/>Upload satu atau beberapa file sekaligus.
							</div>
							<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
							
							<div ng-show="files_success.name.length == 0" class="callout callout-info" style="margin-top: 10px;">
				                <h4>Info</h4>

				                <p>
				                	Anda hanya diijinkan mengupload file CSV saja dengan ukuran maksimum setiap file 20 MB.
				                </p>
				            </div>
							<ul class="list-group" style="margin: -15px 0px 5px 0px;">
								<li style="{{key%2!=0 ? 'background: #f6f6f6;' : ''}}" ng-show="value&&value.length>0&&files_success.size[key]>0" class="list-group-item" ng-repeat="(key, value) in files_success.name">
								<table width="100%">
									<tr>
										<td width="84">
											<!-- <img ng-show="files_success.type[key][0]==='image'" width="84" class="pull-left" ng-src="tmps/{{mysession.ID}}/{{value}}" /> -->
											<img ng-if="files_success.type[key][1]==='csv'" width="84" class="pull-left" ng-src="assets/pdf-flat.png" />
										</td>
										<td style="padding-left: 20px;" valign="top">
											<!-- <span class="badge" ng-bind="(files_success.size[key]/1000 | number:0) + ' KB'"></span> -->
											<button ng-click="$parent.delattach(key)" style="margin: -2px 5px -2px -5px;" type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash"></i> Hapus</button>
											<span ng-bind="value"></span>
											
										</td>
									</tr>
								</table>
								</li>
							</ul>
							<a ngf-select="uploadFiles($files)" ngf-multiple="true" ng-hide="files_success.name.length >= 0" href="javascript:void(0)" class="btn btn-default"><i class="fa fa-upload"></i> Upload File Lainnya</a>
						</div>
						</div>
              	
                <p>One fine body&hellip;</p>

              </div>
              <div class="modal-footer">
              	<div class="box-footer" ng-show="files_success.name.length<6">
					<button type="submit" class="btn btn-primary">Import</button>
					<a href="index.php/perijinan/export_excel_single" class="btn btn-sm pull-right btn-success hidden-xs">Export</a>
					<button class="btn btn-default" data-dismiss="modal">Batal</button>
				</div>
               <!--  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button> -->
              </div>
          </form>
            </div>
          </div>
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="modal-import-perijinan">
          <div class="modal-dialog">
            <div class="modal-content">
            <form ng-submit="submitimport()">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ekspor/Import Dokumen Perijinan</h4>
              </div>
              <div class="modal-body">
              	<div class="wrpTable">
						<div >
							<h4 class="text-orange"><i class="fa fa-paperclip"></i> File Import</h4>
							<div class="form-group">
								<label for="model">Import Data File CSV</label>
								<progress ng-show="onUpload" value="{{progressPercentage}}" max="100">
							</div>
							
							<div ng-show="files_success.name.length == 0" 
								 ngf-drop="uploadFiles($files)" 
								 class="drop-box"
								 ngf-select="uploadFiles($files)"
							  	 ngf-drag-over-class="'dragover'" ngf-multiple="true" 
							  	 ngf-pattern="'application/csv*,application/pdf'" style="margin-top: -15px;background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
							  	 Klik atau drop file disini.<br/>Upload satu atau beberapa file sekaligus.
							</div>
							<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
							
							<div ng-show="files_success.name.length == 0" class="callout callout-info" style="margin-top: 10px;">
				                <h4>Info</h4>

				                <p>
				                	Anda hanya diijinkan mengupload file CSV saja dengan ukuran maksimum setiap file 20 MB.
				                </p>
				            </div>
							<ul class="list-group" style="margin: -15px 0px 5px 0px;">
								<li style="{{key%2!=0 ? 'background: #f6f6f6;' : ''}}" ng-show="value&&value.length>0&&files_success.size[key]>0" class="list-group-item" ng-repeat="(key, value) in files_success.name">
								<table width="100%">
									<tr>
										<td width="84">
											<!-- <img ng-show="files_success.type[key][0]==='image'" width="84" class="pull-left" ng-src="tmps/{{mysession.ID}}/{{value}}" /> -->
											<img ng-if="files_success.type[key][1]==='csv'" width="84" class="pull-left" ng-src="assets/pdf-flat.png" />
										</td>
										<td style="padding-left: 20px;" valign="top">
											<!-- <span class="badge" ng-bind="(files_success.size[key]/1000 | number:0) + ' KB'"></span> -->
											<button ng-click="$parent.delattach(key)" style="margin: -2px 5px -2px -5px;" type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash"></i> Hapus</button>
											<span ng-bind="value"></span>
											
										</td>
									</tr>
								</table>
								</li>
							</ul>
							<a ngf-select="uploadFiles($files)" ngf-multiple="true" ng-hide="files_success.name.length >= 0" href="javascript:void(0)" class="btn btn-default"><i class="fa fa-upload"></i> Upload File Lainnya</a>
						</div>
						</div>
              	
                <p>One fine body&hellip;</p>

              </div>
              <div class="modal-footer">
              	<div class="box-footer" ng-show="files_success.name.length<6">
					<button type="submit" class="btn btn-primary">Import</button>
					<a href="index.php/perijinan/export_excel_single" class="btn btn-sm pull-right btn-success hidden-xs">Export</a>
					<button class="btn btn-default" data-dismiss="modal">Batal</button>
				</div>
               <!--  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button> -->
              </div>
          </form>
            </div>
          </div>
        </div>
        <!--modale-->
        <div class="modal fade" id="modal-import-tracking">
          <div class="modal-dialog">
            <div class="modal-content">
            <form ng-submit="submitimport()">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ekspor/Import Dokumen PPK</h4>
              </div>
              <div class="modal-body">
              	<div class="wrpTable">
						<div >
							<h4 class="text-orange"><i class="fa fa-paperclip"></i> File Import</h4>
							<div class="form-group">
								<label for="model">Import Data File CSV</label>
								<progress ng-show="onUpload" value="{{progressPercentage}}" max="100">
							</div>
							
							<div ng-show="files_success.name.length == 0" 
								 ngf-drop="uploadFiles($files)" 
								 class="drop-box"
								 ngf-select="uploadFiles($files)"
							  	 ngf-drag-over-class="'dragover'" ngf-multiple="true" 
							  	 ngf-pattern="'application/csv*,application/pdf'" style="margin-top: -15px;background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
							  	 Klik atau drop file disini.<br/>Upload satu atau beberapa file sekaligus.
							</div>
							<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
							
							<div ng-show="files_success.name.length == 0" class="callout callout-info" style="margin-top: 10px;">
				                <h4>Info</h4>

				                <p>
				                	Anda hanya diijinkan mengupload file CSV saja dengan ukuran maksimum setiap file 20 MB.
				                </p>
				            </div>
							<ul class="list-group" style="margin: -15px 0px 5px 0px;">
								<li style="{{key%2!=0 ? 'background: #f6f6f6;' : ''}}" ng-show="value&&value.length>0&&files_success.size[key]>0" class="list-group-item" ng-repeat="(key, value) in files_success.name">
								<table width="100%">
									<tr>
										<td width="84">
											<!-- <img ng-show="files_success.type[key][0]==='image'" width="84" class="pull-left" ng-src="tmps/{{mysession.ID}}/{{value}}" /> -->
											<img ng-if="files_success.type[key][1]==='csv'" width="84" class="pull-left" ng-src="assets/pdf-flat.png" />
										</td>
										<td style="padding-left: 20px;" valign="top">
											<!-- <span class="badge" ng-bind="(files_success.size[key]/1000 | number:0) + ' KB'"></span> -->
											<button ng-click="$parent.delattach(key)" style="margin: -2px 5px -2px -5px;" type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash"></i> Hapus</button>
											<span ng-bind="value"></span>
											
										</td>
									</tr>
								</table>
								</li>
							</ul>
							<a ngf-select="uploadFiles($files)" ngf-multiple="true" ng-hide="files_success.name.length >= 0" href="javascript:void(0)" class="btn btn-default"><i class="fa fa-upload"></i> Upload File Lainnya</a>
						</div>
						</div>
              	
                <p>One fine body&hellip;</p>

              </div>
              <div class="modal-footer">
              	<div class="box-footer" ng-show="files_success.name.length<6">
					<button type="submit" class="btn btn-primary">Import</button>
					<a href="index.php/perijinan/export_excel_single" class="btn btn-sm pull-right btn-success hidden-xs">Export</a>
					<button class="btn btn-default" data-dismiss="modal">Batal</button>
				</div>
               <!--  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button> -->
              </div>
          </form>
            </div>
          </div>
        </div>
        <!--model-->

</section>