#loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5) url('loader.gif') no-repeat center;
	z-index: 9999;
}

@media(max-width:860px){
	
	.box {
		overflow-x: auto !important;
		white-space: nowrap !important;
	}

}

.toast-message {
    left: 0;
    position: fixed;
    top: 49vh;
    width: 100%;
    z-index: 999;
}
#toastmessageouter {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    color: #fff;
    display: table;
    font-weight: bold;
    margin: 0 auto;
    max-width: 70%;
    padding: 16px;
    position: relative;
    text-align: center;
}
.success-toast {
    background: #5cb85c none repeat scroll 0 0 !important;
    border: 2px solid #4cae4c;
}
.error-toast {
    background: #d9534f none repeat scroll 0 0 !important;
    border: 2px solid #d43f3a;
}
#closetoast {
    background: gray none repeat scroll 0 0;
    border-radius: 50%;
    cursor: context-menu;
    height: 25px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
}
.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: 0px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.angucomplete-title {
    font-weight: bold;
}