<section class="content" ng-init="form_title='Daftar PERSETUJUAN'">
	<div class="box box-warning">
		<div class="box-header">
			<h3 class="box-title" ng-bind="page_title"> -SURAT PERSETUJUAN</h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>ID</strong></td>
						<td width="200"><strong>Tanggal Data</strong></td>
						<!-- <td style="max-width: 300px;" align="left"><strong>Keterangan</strong></td> -->
						<td width="100" align="left"><strong>Perihal</strong></td>
						<td width="140" align="center"><strong>Penanggung Jawab</strong></td>
						<td width="100" align="center"><strong>Opsi</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="persetujuan.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in persetujuan">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.ID"></td>
						<td ng-bind="value.tanggal_data"></td>
						<!-- <td ng-bind="value.remark"></td> -->
						<td ng-bind="value.perihal"></td>
						<td ng-bind="value.contact_person"></td>
	<!-- 					<td align="center" ng-bind="mydatetime(value.created_time)"></td> -->
						<td align="center">
							<a href="#/data_perijinan/detail/{{value.ID}}" class="btn btn-xs btn-info" >Lihat</a>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>