<section class="content" ng-init="form_title='Tambah Kategori'">
	<form ng-submit="submitbts()">
		<a href="#/master_data/bts_single_list" class="btn btn-warning btn-sm pull-right">Daftar Freq BTS</a>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="kdDep">Provinsi</label>
						<select
							id="id_provinsi"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.id_provinsi" 
							ng-change="get_kab()"
							placeholder="">
							<option value="" ng-bind="'Pilih Provinsi'"></option>
							<option value="{{pro.kdDep}}" ng-bind="pro.Nama" ng-repeat="pro in provinsi"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="Nama">Nama Kabupaten</label>
						<select
							id="id_kabupaten"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.id_kabupaten" 
							ng-change="get_kec()"
							placeholder="">
							<option value="" ng-bind="'Pilih Kabupaten'"></option>
							<option value="{{rep.kdDep}}" ng-bind="rep.Nama" ng-repeat="rep in kabupaten"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="Nama">Nama Kecamatan</label>
						<select
							id="kd_kec"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.id_kecamatan" 
							ng-change="get_desa()"
							placeholder="">
							<option value="" ng-bind="'Pilih Kecamatan'"></option>
							<option value="{{pro.kdDep}}" ng-bind="pro.Nama" ng-repeat="pro in kecamatan"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="Nama">Nama Desa</label>
						<select
							id="id_desa"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.id_desa" 
							ng-change="check_freq()"
							placeholder="">
							<option value="" ng-bind="'Pilih Desa'"></option>
							<option value="{{pro.kdDep}}" ng-bind="pro.Nama" ng-repeat="pro in desa"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="freq">Sumber Data</label>
						<input
							type="text" 
							id="freq"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.freq"
							ng-bind="fre.freq"
							value="{{fre.freq}}"
							placeholder="Isi Sumber Data Desa" />
					</div>
					<div class="form-group">
						<label for="freq">ID BTS</label>
						<input
							type="text" 
							id="ID"
							class="form-control" 
							ng-readonly="true" 
							ng-model="FormData.ID"
							ng-bind="fre.ID" 
							value="{{fre.ID}}"
							placeholder="Isi Sumber Data Desa" />
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/kawil_aceh" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>