<section class="content" ng-init="form_title='Wrapping Data BTS'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="index.php/report_controller/export_bts" class="btn btn-warning btn-sm pull-right">Export Data BTS</a>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>ID BTS</strong></td>
						<td width="200"><strong>Kode Lokasi</strong></td>
						<td width="200"><strong>Nama Lokasi</strong></td>
						<td width="200"><strong>Sumber Data</strong></td>
						<td width="200"><strong>Tgl Pembuatan</strong></td>
						<td width="200"><strong>Test Song</strong></td>
						<!-- <td width="100" align="center"><strong>Opsi</strong></td> -->
					</tr>
				</thead>
				<tbody ng-repeat="value in list.bts">
					<tr>
						<td align="center">{{$index+1}}</td>
						<td align="center" ng-bind="value.ID">
						<td align="center" ng-bind="value.id_desa"></td>
						<!-- <input type="radio" data-ng-value="o"  ng-repeat="o in option" ng-model="my.Choice"/>{{o}} -->
						  <!-- <div ng-repeat="(key, val) in frx"> 
							<td align="center" ng-bind="val.Nama"></td>
						  </div>  -->
						<!-- <td align="center" ng-bind="frx.Nama"></td> -->
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<td>#</td>
						<td>Nama</td>
					</tr>
				</thead>
				<tbody ng-repeat="val in list.pros ">
					<tr>
						<td align="center">{{$index+1}}</td>
						<td align="center" ng-bind="val.Nama"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>