<section class="content" ng-init="form_title='Tambah Provinsi Aceh'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="#/master_data/kawil_aceh/tambah" class="btn btn-warning btn-sm pull-right">Daftar Kecamatan</a>
			<a href="index.php/report_controller/export_excel_kab/{{data_kec}}" class="btn btn-warning btn-sm pull-right">Export Kecamatan {{ data_kec }}</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table datatable="ng"  class="table table-condensed table-striped" style="max-height:150px !important;height: 150px !important;width:100%;overflow-x:auto !important;"	>
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Kode Lokasi</strong></td>
						<td width="200"><strong>Nama Lokasi</strong></td>
						<td width="100" align="center"><strong>Opsi</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="kec_aceh.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in kec_aceh">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.kdDep"></td>
						<td ng-bind="value.Nama"></td>
						<td align="center">
							<a class="btn btn-xs btn-info" href="#/master_data/sub_kwl_desa_aceh/{{value.kdDep}}">Desa</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editaceh(value)">Edit</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="$parent.hapusaceh(value)">Hapus</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
