<section class="content" ng-init="form_title='Wrapping Data BTS'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="index.php/report_controller/export_bts" class="btn btn-warning btn-sm pull-right">Export Data BTS</a>
			<a href="javascript:void(0)" class="btn btn-warning btn-sm pull-right">Ekspor All Desa</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Kode Lokasi</strong></td>
						<td width="200"><strong>Skala Lokasi</strong></td>
						<td width="200"><strong>Skala Data Lokasi</strong></td>
						<td width="200"><strong>Nama Lokasi</strong></td>
						<td width="200"><strong>Sumber Data</strong></td>
						<!-- <td width="100" align="center"><strong>Opsi</strong></td> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="tiang_bts.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in tiang_bts">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.kodedata"></td>
						<td ng-bind="value.PROV"></td>
						<td ng-bind="value.prs"></td>
						<td ng-bind="value.namadata"></td>
						<td ng-bind="value.sumber_data"></td>
					<!-- 	<td align="center">
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_kab_aceh/{{value.kdDep}}">Kabupaten</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editaceh(value)">Edit</a>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>