<section class="content" ng-init="form_title='Tambah Instruksi'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="#/master_data/instruksi/tambah" class="btn btn-warning btn-sm pull-right">Tambah Instruksi</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Desksripsi Instruksi</strong></td>
						<!-- <td style="max-width: 300px;" align="left"><strong>Keterangan</strong></td> -->
						<td width="100" align="left"><strong>Tanggal</strong></td>
						<td width="140" align="center"><strong>Waktu Tanggal</strong></td>
						<td width="100" align="center"><strong>Opsi</strong></td>
					</tr>
				</thead>
				<tbody>
				
					<tr ng-repeat="(key, value) in instruksi">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.ket"></td>
						<!-- <td ng-bind="value.remark"></td> -->
						<td ng-bind="value.tgl"></td>
						<td align="center" ng-bind="mydatetime(value.tglwaktu)"></td>
						<td align="center">
							<a href="javascript:void(0)" class="btn btn-xs btn-info" target="_blank" >Edit</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-danger" >Hapus</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>