<script type="text/javascript" src="<?php echo base_url(); ?>asset/ckeditor/ckeditor.js"></script>
<section class="content" ng-init="form_title='Tambah Instruksi'">
	<form ng-submit="submitinstruksi()">
	<div class="content">
		
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
						<div class="form-group">
						<label for="judul">Judul Instruksi</label>
						<input
							type="text" 
							id="judul"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.judul" 
							placeholder="" />
					</div>
						<label for="ket">Keterangan Instruksi</label>
						<br/>
						<textarea
							id="ket"
							rows="10"
							cols="80"
							name="ket"
							class="ckeditor" 
							ng-required="false" 
							ng-model="FormData.ket"
							>
								
						</textarea>
					
					
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/tipe_pembangunan" class="btn btn-danger">Batal</a>
				</div>
			</div>
		
	</div>
	
	</form>
</section>
			<script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
               // CKEDITOR.replace( 'ket2' );
                
				
            </script>


