<section class="content" ng-init="form_title='Tambah Kategori'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="#/master_data/key/tambah" class="btn btn-warning btn-sm pull-right">Tambah Konf. Key</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Konfigurasi Key</strong></td>
						<!-- <td style="max-width: 300px;" align="left"><strong>Keterangan</strong></td> -->
						<td width="100" align="left"><strong>Author</strong></td>
						<td width="140" align="center"><strong>Tgl. Input</strong></td>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="key.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in key">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.key"></td>
						<!-- <td ng-bind="value.remark"></td> -->
						<td ng-bind="value.username"></td>
						<td align="center" ng-bind="mydatetime(value.created_time)"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>