<section class="content" ng-init="form_title='Tambah Konfigurasi Key'">
	<form ng-submit="submitkey()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="key">Konfigurasi Key</label>
						<input
							type="text" 
							id="key"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.key" 
							placeholder="" />
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/key" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>