
<section class="content" ng-init="form_title='Tambah Kategori'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="#/master_data/kota/tambah" class="btn btn-warning btn-sm pull-right">Tambah Kota</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Provinsi</strong></td>
						<td width="200"><strong>Nama Kota</strong></td>
						<!-- <td style="max-width: 300px;" align="left"><strong>Keterangan</strong></td> -->
						<td width="100" align="left"><strong>Author</strong></td>
						<td width="140" align="center"><strong>Tgl. Input</strong></td>
						<td width="100" align="center"><strong>Opsi</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="kota.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in kota">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.nama_provinsi"></td>
						<td ng-bind="value.nama_kota"></td>
						<!-- <td ng-bind="value.remark"></td> -->
						<td ng-bind="value.username"></td>
						<td align="center" ng-bind="mydatetime(value.created_time)"></td>
						<td align="center">
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editkota(value)">Edit</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="$parent.hapuskota(value)">Hapus</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
