<section class="content" ng-init="form_title='Tambah Kategori'">
	<form ng-submit="submitkota()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="id_provinsi">Provinsi</label>
						<select
							id="id_provinsi"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.id_provinsi" 
							placeholder="">
							<option value="" ng-bind="'Pilih provinsi'"></option>
							<option value="{{pro.ID}}" ng-bind="pro.nama_provinsi" ng-repeat="pro in provinsi"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="nama_kota">Nama Kota</label>
						<input
							type="text" 
							id="nama_kota"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.nama_kota" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="remark">Keterangan</label>
						<textarea
							id="remark"
							class="form-control" 
							ng-required="false" 
							ng-model="FormData.remark" 
							rows="3"
							placeholder="Keterangan (opsional)"></textarea>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/kota" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>