<section class="content" ng-init="form_title='Tambah Kategori'">
	<form ng-submit="submitruasjalan()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="id_unit">Unit Kerja</label>
						<select
							class="form-control" 
							id="id_unit"
							ng-required="true" 
							ng-readonly="false"
							ng-change="get_ppk()"
							ng-model="FormData.id_unit">
							<option value="">Pilih Unit Kerja</option>
							<option 
								ng-repeat="(key, value) in unit_kerja" 
								value="{{value.ID}}" 
								ng-bind="value.nama_unit"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="id_ppk">PPK</label>
						<select
							class="form-control" 
							id="id_ppk"
							ng-required="true" 
							ng-readonly="false"
							
							ng-model="FormData.id_ppk">
							<option value="">Pilih PPK</option>
							<option 
								ng-repeat="(key, value) in ppk" 
								value="{{value.ID}}" 
								ng-bind="value.nama_ppk"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="nama_ruas_jalan">Nama Ruas Jalan</label>
						<input
							type="text" 
							id="nama_ruas_jalan"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.nama_ruas_jalan" 
							placeholder="" />
					</div>
					
					
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/ruas_jalan" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>