<section class="content" ng-init="form_title='Tambah Kategori'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="#/master_data/ruas_jalan/tambah" class="btn btn-warning btn-sm pull-right">Tambah Ruas Jalan</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body">
			<table datatable="ng" class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td><strong>Nama Ruas Jalan</strong></td>
						
						<!-- <td style="max-width: 300px;" align="left"><strong>Keterangan</strong></td>
						<td width="100" align="left"><strong>Author</strong></td> -->
						<td width="140" align="center"><strong>Tgl. Input</strong></td>
						<td width="100" align="center"><strong>Opsi</strong></td>
					</tr>
				</thead>
				<tbody>
					<!-- <tr>
						<td ng-show="ruas_jalan.length == 0" align="center" colspan="7" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr> -->
					
					<tr ng-repeat="(key, value) in ruas_jalan">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.nama_ruas_jalan"></td>
						
						<!-- <td ng-bind="value.remark"></td>
						<td ng-bind="value.username"></td> -->
						<td align="center" ng-bind="mydatetime(value.created_time)"></td>
						<td align="center">
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editruasjalan(value)">Edit</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="$parent.hapusruasjalan(value)">Hapus</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>