<section class="content" ng-init="form_title='Tambah Running Key'">
	<form ng-submit="submitrunning()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="key">Konfigurasi Key</label>
						<textarea
							id="ket"
							rows="10"
							cols="80"
							name="ket"
							class="form-control" 
							ng-required="false" 
							ng-model="FormData.ket"
							>
								
						</textarea>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/runnung" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>