<section class="content">
	<form ng-submit="submitdokumen()">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="form_title"></h3>
				</div>
				<div class="box-body">
					<div class="row">
						<!-- {{mysession}} -->

						
						<div class="col-md-7 col-lg-7">
							<h4 class="text-orange"><i class="fa fa-paperclip"></i> Lampiran Dokumen</h4>
							<div class="form-group">
								<label for="model">Upload Lampiran (File gambar / PDF)</label>
								<progress ng-show="onUpload" value="{{progressPercentage}}" max="100">
							</div>
							
							<div ng-show="files_success.name.length == 0" 
								 ngf-drop="uploadFiles($files)" 
								 class="drop-box"
								 ngf-select="uploadFiles($files)"
							  	 ngf-drag-over-class="'dragover'" ngf-multiple="true" 
							  	 ngf-pattern="'image/*,application/pdf'" style="margin-top: -15px;background: #ececec;display: block;padding: 30px 30px;text-align: center;border: 5px dashed #ccc;">
							  	 Klik atau drop file disini.<br/>Upload satu atau beberapa file sekaligus.
							</div>
							<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
							
							<div ng-show="files_success.name.length == 0" class="callout callout-info" style="margin-top: 10px;">
				                <h4>Info</h4>

				                <p>
				                	Anda hanya diijinkan mengupload file gambar atau pdf saja dengan ukuran maksimum setiap file 20 MB.
				                </p>
				            </div>
							<ul class="list-group" style="margin: -15px 0px 5px 0px;">
								<li style="{{key%2!=0 ? 'background: #f6f6f6;' : ''}}" ng-show="value&&value.length>0&&files_success.size[key]>0" class="list-group-item" ng-repeat="(key, value) in files_success.name">
								<table width="100%">
									<tr>
										<td width="84">
											<img ng-show="files_success.type[key][0]==='image'" width="84" class="pull-left" ng-src="tmps/{{mysession.ID}}/{{value}}" />
											<img ng-if="files_success.type[key][1]==='pdf'" width="84" class="pull-left" ng-src="assets/pdf-flat.png" />
										</td>
										<td style="padding-left: 20px;" valign="top">
											<!-- <span class="badge" ng-bind="(files_success.size[key]/1000 | number:0) + ' KB'"></span> -->
											<button ng-click="$parent.delattach(key)" style="margin: -2px 5px -2px -5px;" type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-trash"></i> Hapus</button>
											<span ng-bind="value"></span>
											<div class="form-group" style="padding: 0px;margin: 5px 0px 0px 0px;">
												<label for="model">Nama Dokumen</label>
												<input
													type="text" 
													id="model"
													class="form-control" 
													ng-required="true" 
													ng-readonly="false" 
													ng-model="files_success.remark[key]" 
													placeholder="Contoh : Dokumen A1" />
											</div>
										</td>
									</tr>
								</table>
								</li>
							</ul>
							<!--  <a ngf-select="uploadFiles($files)" ngf-multiple="true" ng-show="files_success.name.length > 0" href="javascript:void(0)" class="btn btn-default"><i class="fa fa-upload"></i> Upload File Lainnya</a> -->
						</div>
					</div>
				</div>
				<div class="box-footer" ng-show="files_success.name.length<6">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="#/data_perijinan" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>