<section class="content" ng-init="form_title='Tambah Konfigurasi Key'">
	<form ng-submit="submitwarna()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="tipe">Tipe Dokumen</label>
						<select
							id="tipe"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.tipe" 
							placeholder="">
							<option value="" ng-bind="'Pilih Tipe'"></option>
							<option value="{{pro.tipe}}" ng-bind="pro.tipe" ng-repeat="pro in warna"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="tipe_warna">Jenis Warna</label>
						<input
							type="text" 
							id="tipe_warna"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.tipe_warna" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="durasi">Durasi Peringatan</label>
						<input
							type="number" 
							id="durasi"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.durasi" 
							placeholder="" />
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/key" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>