<section class="content" ng-init="form_title='Tambah Kategori'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="#/master_data/warna/tambah" class="btn btn-warning btn-sm pull-right">Tambah Warna</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Tipe</strong></td>
						<td width="200"><strong>Jenis Warna</strong></td>
						<td width="200"><strong>Durasi Notifikasi</strong></td>
						<td width="200"><strong>Action</strong></td>
						<!-- <td style="max-width: 300px;" align="left"><strong>Keterangan</strong></td> -->
					
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="warna.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in warna">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.tipe"></td>
						<td ng-bind="value.tipe_warna"><i class="fa bg-{{ value.tipe_warna }}"></i></td>
						<td ng-bind="value.durasi"></td>
						<td align="center">
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editwarna(value)">Edit</a>
							<!-- <a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="$parent.hapuswarna(value)">Hapus</a> -->
						</td>
						<!-- <td ng-bind="value.remark"></td> -->
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>