<section class="content" ng-init="q=''">
	<form ng-submit="buatadmin()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="nama_lengkap">Nama Lengkap</label>
						<input
							type="text" 
							id="nama_lengkap"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.nama_lengkap" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="email">Alamat Email</label>
						<input
							type="email" 
							id="email"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.email" 
							placeholder="" />
					</div>
					<div class="callout callout-info">
		                <h4>Informasi!</h4>
		                <p>Sistem akan mengirimkan email berisi password yang dibuat otomatis ke alamat email user. User diharapkan segera mengubah password setelah login.</p>
	              	</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="#/administrator" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>