<section class="content" ng-init="q=''">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
					<!-- <div class="input-group pull-right input-group" style="width: 290px;margin-top: -5px;">
						<input ng-model="q" type="text" name="table_search" class="form-control pull-right" placeholder="Ketik nama pengguna atau organisasi">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</div>
	                </div> -->
				</div>
				<div class="box-body">
					<table datatable="ng" class="table table-striped table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th ng-hide="q" style="text-align: center">#</th>
								<th style="text-align: left;">Nama Pengguna</th>
								<th style="text-align: left;">Email</th>
								<th>Tipe Akun</th>
								<th>Nama Organisasi</th>
								<th>Status</th>
								<th ng-hide="q" style="text-align: center">Opsi</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr ng-show="!pengguna">
								<td colspan="5" align="center" ng-bind="'Belum ada data untuk ditampilkan'"></td>
							</tr> -->
							<tr ng-show="q.length===''||value.nama_lengkap.toUpperCase().indexOf(q.toUpperCase())>=0||value.email.toUpperCase().indexOf(q.toUpperCase())>=0||value.nama_organisasi.toUpperCase().indexOf(q.toUpperCase())>=0" ng-repeat="value in pengguna">
								<td ng-hide="q" align="center" width="40" ng-bind="$index+1"></td>
								<td ng-bind="value.nama_lengkap"></td>
								<td ng-bind="value.email"></td>
								<td ng-bind="value.tipe_organisasi"></td>
								<td ng-bind="value.nama_organisasi"></td>
								<td align="center" width="100">
									<span ng-if="value.blacklist!=='0'" class="label label-danger">Blacklist</span>
									<span ng-if="value.pin!=='0'&&value.blacklist==='0'" class="label label-warning">Menunggu Aktivasi</span>
									<span ng-if="value.pin==='0'&&value.blacklist==='0'" class="label label-success">Aktif</span>
								</td>
								<td align="center" width="140">
									<a ng-click="userdetail(value.ID)" href="javascript:void(0)" class="btn btn-default btn-xs">Detail</a>
									<a ng-click="$parent.hapususer(value.ID,value.email)" ng-show="mysession.level==='1'" href="javascript:void(0)" class="btn btn-danger btn-xs">Hapus</a>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- {{pengguna}} -->
				</div>
			</div>
		</div>
	</div>
</section>