<section class="content" ng-init="q=''">
	<div class="row">
		<div class="col-md-4">
			<div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
              <div class="widget-user-image">
                <img width="48" class="img-circle" src="assets/user.png" alt="User Avatar">
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username" ng-bind="data.detail.nama_lengkap"></h3>
              <h5 class="widget-user-desc">{{data.detail.nama_organisasi.length >= 3 ? data.detail.nama_organisasi : data.detail.email}}</h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="javascript:void(0)">Nama Lengkap <strong class="pull-right" ng-bind="data.detail.nama_lengkap"></strong></a></li>
                <li><a href="javascript:void(0)">Email <strong class="pull-right" ng-bind="data.detail.email"></strong></a></li>
                <li><a href="javascript:void(0)">Tipe Akun <strong class="pull-right" ng-bind="data.detail.tipe_organisasi"></strong></a></li>
                <li ng-show="data.detail.nama_organisasi.length >= 3"><a href="javascript:void(0)">Jabatan <strong class="pull-right" ng-bind="data.detail.jabatan"></strong></a></li>
                <li ng-show="data.detail.nama_organisasi.length >= 3"><a href="javascript:void(0)">Nama Organisasi <strong class="pull-right" ng-bind="data.detail.nama_organisasi"></strong></a></li>
                <li ng-show="data.detail.nama_organisasi.length >= 3"><a href="javascript:void(0)">Alamat Organisasi <strong class="pull-right" ng-bind="data.detail.alamat_organisasi"></strong></a></li>
                <li ng-show="data.detail.nama_organisasi.length >= 3"><a href="javascript:void(0)">Telp Organisasi <strong class="pull-right" ng-bind="data.detail.telp_organisasi"></strong></a></li>
                <li ng-show="data.detail.nama_organisasi.length >= 3"><a href="javascript:void(0)">Fax Organisasi <strong class="pull-right" ng-bind="data.detail.fax_organisasi"></strong></a></li>
              </ul>
            </div>
          </div>
		</div>
		<div class="col-md-8">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="'Pengajuan Yangi Dibuat'"></h3>
					<div ng-hide="!data.perijinan||data.perijinan.length==0" class="input-group pull-right input-group" style="width: 290px;margin-top: -5px;">
						<input ng-model="q" type="text" name="table_search" class="form-control pull-right" placeholder="Ketik nomor pengajuan atau perihal">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</div>
	                </div>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th ng-hide="q" style="text-align: center">#</th>
								<th style="text-align: center">No. Pengajuan</th>
								<th style="text-align: center">Tgl. Pengajuan</th>
								<th>Perihal</th>
								<!-- <th>No. Surat</th> -->
								<!-- <th style="text-align: center">Tgl. Surat</th> -->
								<th style="text-align: center">Status</th>
								<th style="text-align: center">Opsi</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-show="!data.perijinan||data.perijinan.length==0">
								<td colspan="6" align="center" ng-bind="'Pengguna belum membuat satupun pengajuan'"></td>
							</tr>
							<tr ng-show="q.length===''||value.ID.toUpperCase().indexOf(q.toUpperCase())>=0||value.perihal.toUpperCase().indexOf(q.toUpperCase())>=0" ng-repeat="value in data.perijinan">
								<td ng-hide="q" align="center" width="40" ng-bind="$index+1"></td>
								<td align="center" width="120" ng-bind="value.ID"></td>
								<td align="center" width="120" ng-bind="mydate(value.created_time)"></td>
								<td ng-bind="value.perihal"></td>
								<!-- <td ng-bind="value.nomor_surat"></td> -->
								<!-- <td width="90" style="text-align: center" ng-bind="mydate(value.tanggal_surat)"></td> -->
								<td align="center" width="120">
									<span ng-if="value.status==='PENDING'" class="label label-warning">Menunggu Berkas</span>
									<span ng-if="value.status==='PROCESSING'" class="label label-info">Dalam Proses</span>
									<span ng-if="value.status==='ACCEPT'" class="label label-success">Diterima</span>
									<span ng-if="value.status==='REJECT'" class="label label-danger">Ditolak</span>
								</td>
								<td align="center" width="80">
									<a href="#/data_perijinan/detail/{{value.ID}}" class="btn btn-default btn-xs">Detail</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>