<section class="content" ng-init="sidebox=false">
	<div class="row">
		<div class="col-md-6 col-md-offset-{{!sidebox ? '3' : '0'}}">
			<div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
              <div class="widget-user-image">
                <img width="48" class="img-circle" src="assets/user.png" alt="User Avatar">
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username" ng-bind="mysession.nama_lengkap"></h3>
              <h5 class="widget-user-desc">{{mysession.nama_organisasi.length >= 3 ? mysession.nama_organisasi : mysession.email}}</h5>
              <h3 class="widget-user-id" ng-bind="mysession.ID"></h3>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="javascript:void(0)">Nama Lengkap <strong class="pull-right" ng-bind="mysession.nama_lengkap"></strong></a></li>
                <li><a href="javascript:void(0)">Email <strong class="pull-right" ng-bind="mysession.email"></strong></a></li>
                <li ng-show="mysession.tipe_organisasi.length >= 3"><a href="javascript:void(0)">Tipe Akun <strong class="pull-right" ng-bind="mysession.tipe_organisasi"></strong></a></li>
                <li ng-show="mysession.nama_organisasi.length >= 3"><a href="javascript:void(0)">Jabatan <strong class="pull-right" ng-bind="mysession.jabatan"></strong></a></li>
                <li ng-show="mysession.nama_organisasi.length >= 3"><a href="javascript:void(0)">Nama Organisasi <strong class="pull-right" ng-bind="mysession.nama_organisasi"></strong></a></li>
                <li ng-show="mysession.nama_organisasi.length >= 3"><a href="javascript:void(0)">Alamat Organisasi <strong class="pull-right" ng-bind="mysession.alamat_organisasi"></strong></a></li>
                <li ng-show="mysession.nama_organisasi.length >= 3"><a href="javascript:void(0)">Telp Organisasi <strong class="pull-right" ng-bind="mysession.telp_organisasi"></strong></a></li>
                <li ng-show="mysession.nama_organisasi.length >= 3"><a href="javascript:void(0)">Fax Organisasi <strong class="pull-right" ng-bind="mysession.fax_organisasi"></strong></a></li>
                <li style="padding: 10px 14px;" class="text-right">
                	<button ng-click="sidebox='gantipassword'" type="button" class="btn btn-default btn-flat"><i class="fa fa-lock"></i> Ganti Password</button>
                </li>
              </ul>
            </div>
          </div>
		</div>
		<div class="col-md-6" ng-show="sidebox==='gantipassword'">
			<form ng-submit="gantipassword()">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-lock"></i> Ganti Password</h3>
				</div>
				<!-- <div class="box-body">
					<div class="form-group">
						<label for="email">Alamat Email</label>
						<input
							type="email" 
							id="email"
							class="form-control" 
							ng-required="true" 
							ng-bind="mysession.email"
							ng-readonly="false" 
							ng-model="FormData.email" 
							readonly/>
					</div> -->
					<div class="form-group">
						<label for="old_password">Password Lama</label>
						<input
							type="password" 
							id="old_password"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.old_password" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="new_password">Password Baru</label>
						<input
							type="password" 
							id="new_password"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.new_password" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="new_password_1">Ulangi Password Baru</label>
						<input
							type="password" 
							id="new_password_1"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.new_password_1" 
							placeholder="" />
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Ganti Password</button>
					<a ng-click="sidebox=false" href="javascript:void(0)" class="btn btn-danger">Batal</a>
				</div>
			</div>
			</form>
		</div>
	</div>
</section>