<section class="content col-md-6" style="min-height: 1px;">
<div class="box box-warning" style="margin-bottom: -25px;">
	<div class="box-header">
			<h3 class="box-title">SSRS</h3>
		</div>
	<div class="box-body no-padding">
		<a href="index.php/report_controller/export_excel_rekap_total" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-warning btn-sm-12 pull-center">EXPORT</a>
		<a href="index.php/report_controller/export_excel_rekap_expand" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-warning btn-sm-12 pull-center">EXPORT REKAP EXPAND</a>
		<a href="index.php/report_controller/export_excel_rekap_bts" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-warning btn-sm-12 pull-center">EXPORT REKAP BTS</a>
		<a href="index.php/bts_report/export_excel_report_planning" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-warning btn-sm-12 pull-center">EXPORT REKAP PLANNING BTS</a>
		<a href="index.php/bts_report/export_excel_report_realisasi" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-warning btn-sm-12 pull-center">EXPORT REKAP REALISASI BTS</a>
		<a href="index.php/bts_report/export_report_planning_excel" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-danger btn-sm-12 pull-center">EXPORT REKAP PLANNING BTS DATA EXCEL</a>
		<a href="index.php/bts_report/export_report_realisasi_excel" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-danger btn-sm-12 pull-center">EXPORT REKAP REALISASI BT DATA EXCEL</a>	
		<a href="index.php/bts_report/export_report_realisasi_planning" style="margin-left: 50px; margin-bottom: 10px; width: 80%;" class="btn btn-danger btn-sm-12 pull-center" target="_blank">EXPORT REKAP REALISASI DAN PLANNING</a>	
	</div>
</div>
</section>
<section class="content col-md-6" ng-init="form_title='TOTAL ENTITAS KABUPATEN'">
	<div class="box box-warning" style="margin-bottom: -25px;">
		<div class="box-header">
			<h3 class="box-title">ENTITAS KABUPATEN</h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Kode Entitas</strong></td>
						<td width="200"><strong>Nama Entitas</strong></td>
						<td width="200"><strong>Total Kabupaten</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="count_entity_kabupaten.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in count_entity_kabupaten">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.kdDep"></td>
						<td ng-bind="value.Nama"></td>
						<td ng-bind="value.ct_kab" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="content col-md-6" ng-init="form_title='TOTAL ENTITAS KECAMATAN'">
	<div class="box box-warning" style="margin-bottom: -25px;">
		<div class="box-header">
			<h3 class="box-title">ENTTIAS KECAMATAN</h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Kode Entitas</strong></td>
						<td width="200"><strong>Nama Entitas</strong></td>
						<td width="200"><strong>Total Kecamatan</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="count_entity_kecamatan.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in count_entity_kecamatan">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.kdDep"></td>
						<td ng-bind="value.Nama"></td>
						<td ng-bind="value.ct_kec" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="content col-md-6" ng-init="form_title='TOTAL ENTITAS DESA'">
	<div class="box box-warning" style="margin-bottom: -25px;">
		<div class="box-header">
			<h3 class="box-title">ENTITAS DESA</h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Kode Entitas</strong></td>
						<td width="200"><strong>Nama Entitas</strong></td>
						<td width="200"><strong>Total Desa</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="count_entity_desa.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in count_entity_desa">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.kdDep"></td>
						<td ng-bind="value.Nama"></td>
						<td ng-bind="value.ct_desa" align="center"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
