<section class="content" ng-init="form_title='Tambah Provinsi Aceh'">
	<div class="box box-warning">
		<div class="box-header">
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Tanggal Penggunaan</strong></td>
						<td width="200"><strong>Waktu Penggunaan</strong></td>
						<td width="200"><strong>Aktivitas / Kegiataan</strong>
						<!-- <td width="100" align="center"><strong>Opsi</strong></td> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="history.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in history">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.tanggal"></td>
						<td ng-bind="value.waktu"></td>
						<td ng-bind="value.log"></td>
						<!-- <td align="center">
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_kab_aceh/{{value.kdDep}}">Kabupaten</a>
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_kec_aceh/{{value.kdDep}}">Kecamatan</a>
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_desa_aceh/{{value.kdDep}}">Desa</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editaceh(value)">Edit</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="$parent.hapusaceh(value)">Hapus</a>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>