<section class="content" ng-init="form_title='Tambah Provinsi'">
	<form ng-submit="submitaceh()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<div class="box box-warning">
				<div class="box-header">
					<h3 class="box-title" ng-bind="page_title"></h3>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label for="kd_prov">Provinsi</label>
						<select
							id="kd_prov"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.kd_prov" 
							ng-change="get_number()"
							placeholder="">
							<option value="" ng-bind="'Pilih Provinsi'"></option>
							<option value="{{pro.kdDep}}" ng-bind="pro.Nama" ng-repeat="pro in prov_aceh"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="kd_prov">Kabupaten</label>
						<select
							id="kd_prov"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.kd_prov" 
							ng-change="get_number()"
							placeholder="">
							<option value="" ng-bind="'Pilih Provinsi'"></option>
							<option value="{{pro.kdDep}}" ng-bind="pro.Nama" ng-repeat="pro in prov_aceh"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="kd_prov">Kecamatan</label>
						<select
							id="kd_prov"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.kd_prov" 
							ng-change="get_number()"
							placeholder="">
							<option value="" ng-bind="'Pilih Provinsi'"></option>
							<option value="{{pro.kdDep}}" ng-bind="pro.Nama" ng-repeat="pro in prov_aceh"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="kdDep">Kode Kabupaten</label>
						<input
							type="text" 
							id="kdDep"
							class="form-control" 
							ng-required="true" 
							ng-readonly="false" 
							ng-model="FormData.kdDep" 
							placeholder="" />
					</div>
					<div class="form-group">
						<label for="Nama">Nama Kabupaten</label>
						<textarea
							id="Nama"
							class="form-control" 
							ng-required="false" 
							ng-model="FormData.Nama" 
							rows="3"
							placeholder="Keterangan (opsional)"></textarea>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-warning">Submit</button>
					<a href="#/master_data/kawil_aceh" class="btn btn-danger">Batal</a>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>