<section class="content" ng-init="form_title='Tambah Realisasi BTS dagri Kecamatan'">
	<div class="box box-warning">
		<div class="box-header">
			<a href="index.php/report_controller/export_excel" class="btn btn-warning btn-sm pull-right">Export Realisasi</a>
			<h3 class="box-title" ng-bind="page_title"></h3>
		</div>
		<div class="box-body no-padding">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<td align="center" width="50"><strong>#</strong></td>
						<td width="200"><strong>Periode</strong></td>
						<td width="200"><strong>Batch</strong></td>
						<td width="200"><strong>Provinsi</strong></td>
						<td width="200"><strong>Kabupaten</strong></td>
						<td width="200"><strong>Kecamatan</strong></td>
						<td width="200"><strong>Kecamatan Dagri</strong>
						<td width="200"><strong>Kabupaten Dagri</strong>
						<td width="200"><strong>Provinsi Dagri</strong>	
						<td width="200"><strong>Total Desa</strong></td>
						<!-- <td width="100" align="center"><strong>Opsi</strong></td> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-show="realbts_dagri.length == 0" align="center" colspan="6" ng-bind="'Belum ada data yang dibuat'"></td>
					</tr>
					<tr ng-repeat="(key, value) in realbts_dagri">
						<td align="center" ng-bind="$index+1"></td>
						<td ng-bind="value.Periode"></td>
						<td ng-bind="value.Batch"></td>
						<td ng-bind="value.Provinsi"></td>
						<td ng-bind="value.Kabupaten"></td>
						<td ng-bind="value.Kecamatan"></td>
						<td>{{value.Nama}}<b ng-if="!value.Nama">TIDAK VALID</b></td>
						<td>{{value.kab_dagri}}<b ng-if="!value.kab_dagri">TIDAK VALID</b></td>
						<td>{{value.prov_dagri}}<b ng-if="!value.prov_dagri">TIDAK VALID</b></td>
						<!-- <td ng-bind="value.Nama ? value.Nama : 'TIDAK VALID'"><b ng-if="!value.Nama">TIDAK VALID</b></td> -->
						<td ng-bind="value.Total"></td>
						<!-- <td align="center">
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_kab_aceh/{{value.kdDep}}">Kabupaten</a>
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_kec_aceh/{{value.kdDep}}">Kecamatan</a>
							<a class="btn btn-xs btn-info" href="#/master_data/kwl_desa_aceh/{{value.kdDep}}">Desa</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-info" ng-click="$parent.editaceh(value)">Edit</a>
							<a href="javascript:void(0)" class="btn btn-xs btn-danger" ng-click="$parent.hapusaceh(value)">Hapus</a>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>